body {
font-family: Arial, sans-serif;
margin: 0;
font-size: 20px;
background-image: url("homebg.jpg");
background-repeat: none;
background-size: cover;
}
header {
color: white;
padding: 15px;
text-align: center;
}

nav {
text-align: left;
padding: 10px;
background-color: #071833;
}

nav:hover{
transform: scale(1.01);
}

a {
color: white;
margin: 10px;
text-decoration: none;
}


a:hover {
text-decoration: underline;
transform: scale(1.01);
}


main {
padding: 20px;
margin: 20px;
color: white;
text-align: left;
}


footer {
color:white;
}

.blur{
}
